<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="initiativeApp">
<head>
    <title>Initiative Roll Application</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Dnd-Initiative : Application that enables a DM to keep track of which player or monster is next in line">

    <script src="../Scripts/jquery-1.11.2.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-ui/angular-ui-router.js"></script>
    <script src="../Scripts/angular-ui/angular-ui-bootstrap-tpls.js"></script>
    <!--<script src="../Scripts/angular-ui/angular-ui-bootstrap.js"></script>-->

    <script src="../Scripts/app/Combatant.js"></script>

    <script src="../Scripts/app/InitiativeService.js"></script>

    <script src="../Scripts/app/SetupController.js"></script>
    <script src="../Scripts/app/PlayController.js"></script>

    <script src="../Scripts/app/InitiativeApp.js"></script>

    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/site.css" rel="stylesheet" />
</head>
    <body>
        <div class="container top-buffer" data-ui-view=""></div>
    </body>
</html>
